---
import Button from "@/components/ui/Button.astro";
import MaskIcon from "@/components/ui/MaskIcon.astro";

import chevronDownIcon from "@/assets/icons/mask/chevron-down.avif";

interface Props {
  label?: string;
}
const { label } = Astro.props;
---

<details class="dropdown">
  <summary class="dropdown-summary">
    <slot name="trigger">
      <Button variant="primary" as="span">
        {label}
        <span class="caret">
          <MaskIcon src={chevronDownIcon} />
        </span>
      </Button>
    </slot>
  </summary>
  <div class="dropdown-content">
    <slot />
  </div>
</details>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: var(--radius-full);
  }
  .dropdown-summary::-webkit-details-marker {
    display: none;
  }

  .caret {
    display: flex;
    align-items: center;
    margin-inline-start: var(--space-xs);
    transition: transform 0.2s ease;
  }
  .dropdown[open] .caret {
    transform: rotate(180deg);
  }

  /* Panel */
  .dropdown-content {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    background: var(--card-color);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    z-index: var(--z-dropdown);
    display: flex;
    flex-direction: column;
    margin-block-start: var(--space-2xs);
    min-width: 18rem;
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: var(--space-xs);
    user-select: none;

    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10px);
    transition: transform 0.2s ease;
  }

  .dropdown[open] .dropdown-content {
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }
</style>
