---
import type { HTMLAttributes } from "astro/types";

const { class: className, ...rest } = Astro.props as HTMLAttributes<"a">;
---

<a {...rest} class:list={["dropdown-item", className]}>
  <span class="label"><slot /></span>
  {
    Astro.slots.has("meta") && (
      <span class="meta">
        <slot name="meta" />
      </span>
    )
  }
</a>

<style>
  .dropdown-item {
    padding: var(--space-sm);
    color: var(--heading-color);
    text-decoration: none;
    font-size: var(--font-size-sm);
    transition: background 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    white-space: nowrap;
    border-radius: var(--radius-md);
  }
  .dropdown-item:hover {
    background: var(--card-hover-color);
  }

  .meta {
    color: var(--paragraph-subtitle);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
    margin-inline-start: 3rem;
  }
</style>
