<div id="blog-content" lang="en" dir="ltr">
  <slot />
</div>

<style is:global lang="scss">
  #blog-content {
    line-height: var(--line-height-body);

    :where(h2, h3, h4) {
      font-weight: var(--font-weight-bold);
    }

    a:not(.moneropedia-link) {
      color: var(--text-primary);
      font-weight: var(--font-weight-medium);
      text-decoration-line: underline;
      text-decoration-style: dotted;

      &:hover {
        color: var(--text-secondary);
      }
    }

    h1 {
      font-size: var(--font-size-2xl);
    }

    h2 {
      font-size: var(--font-size-xl);
    }

    h3 {
      font-size: var(--font-size-lg);
    }

    h4 {
      font-size: var(--font-size-md);
    }

    p {
      margin-bottom: 1em;
    }

    ul,
    ol {
      margin: 1em 0 1em 1.5em;
      padding-left: 1.25em;
    }

    li {
      margin-bottom: 0.25em;
    }

    pre {
      padding: 1em;
      border-radius: 0.5em;
      overflow-x: auto;
      background: var(--footer-color);
    }

    pre code {
      background: none;
      padding: 0;
      border-radius: 0;
    }

    code:not(pre code) {
      font-family: monospace;
      background-color: var(--footer-color);
      padding: 0.1em 0.3em;
      border-radius: 0.2em;
    }

    blockquote {
      margin: 1.5em 0;
      padding-left: 1em;
      border-left: 3px solid var(--border-color);
      font-style: italic;
      color: var(--text-secondary);
    }

    @media (prefers-color-scheme: dark) {
      color: var(--paragraph-main);

      a:not(.moneropedia-link) {
        /* Moneropedia links have their own styles: src/styles/moneropedia-link.css */
        color: var(--paragraph-main);

        &:hover {
          color: var(--heading-color);
        }
      }
    }
  }
</style>
