---
import MaskIcon from "@/components/ui/icons/MaskIcon.astro";
import { getDateStringFromId } from "@/utils/blog.ts";
import { icons } from "@/utils/icons";

interface Props {
  title: string;
  id: string;
  author: string;
  tags?: string[];
}

const { title, id, author, tags = [] } = Astro.props;
const { t, localizeHref, localizeDateString } = Astro.locals;

const dateString = getDateStringFromId(id);
const date = localizeDateString(dateString, {
  day: "numeric",
  month: "long",
  year: "numeric",
});
---

<div id="post-header">
  <h1>{title}</h1>

  <div id="meta">
    {
      date && (
        <div class="meta-item">
          <div class="icon">
            <MaskIcon src={icons.mask("calendar")} />
          </div>
          <time datetime={dateString}>{date}</time>
        </div>
      )
    }

    {
      author && (
        <div class="meta-item">
          <div class="icon">
            <MaskIcon src={icons.mask("user")} />
          </div>
          {author.replace(" and ", ` ${t("blog:post.and")} `)}
        </div>
      )
    }
  </div>

  {
    tags.length > 0 && (
      <div class="tag-container">
        {tags.map((tag: string) => (
          <a
            class="tag"
            href={localizeHref(
              `/blog/tags/${tag.toLowerCase().replace(/\s+/g, "-")}/`,
            )}
          >
            {t(`blog:tagLabels.${tag}`, { defaultValue: tag })}
          </a>
        ))}
      </div>
    )
  }
</div>

<style>
  h1 {
    font-size: var(--font-size-3xl);
    margin: 0;
  }

  #post-header {
    margin-bottom: var(--page-top-margin);
  }

  #meta {
    display: flex;
    gap: var(--space-2xl);
    color: var(--text-secondary);
    margin-top: var(--space-md);
    margin-bottom: var(--space-xl);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
  }

  .meta-item {
    display: flex;
    align-items: center;
    gap: var(--space-xs);

    > .icon {
      display: grid;
      place-items: center;
      color: var(--monero-orange);
    }
  }

  .tag-container {
    display: flex;
    gap: var(--space-xs);
    font-size: var(--font-size-sm);
    flex-wrap: wrap;

    .tag {
      text-align: center;
      padding: var(--space-2xs) var(--space-sm);
      background: var(--footer-color);
      border-radius: var(--radius-md);
      text-transform: uppercase;
      font-weight: var(--font-weight-semibold);
      text-decoration: none;
      color: inherit;
      white-space: nowrap;

      &:hover {
        color: var(--text-secondary);
      }
    }
  }

  @media (width <= 600px) {
    #meta {
      flex-direction: column;
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      gap: var(--space-md);
    }

    .meta-item {
      > .icon {
        font-size: var(--font-size-lg);
      }
    }
  }
</style>
