[po4a_langs] es it pl fr ar ru de nl pt-br tr zh-cn zh-tw nb-no
[po4a_paths] ../_i18n/en/resources/user-guides/weblate/mine-to-pool.pot $lang:../_i18n/$lang/resources/user-guides/weblate/mine-to-pool.po

[options] opt:"--keep=0"
[options] opt:"--localized-charset=UTF-8"
[options] opt:"--master-charset=UTF-8"
[options] opt:"--master-language=en_US"
[options] opt:"--msgmerge-opt='--no-wrap'"
[options] opt:"--wrap-po=newlines"

[po4a_alias:markdown] text opt:"--option markdown"

[type: markdown] ../_i18n/en/resources/user-guides/mine-to-pool.md $lang:../_i18n/$lang/resources/user-guides/mine-to-pool.md