---
import DisclaimerBar from "@/components/ui/disclaimer/DisclaimerBar.astro";
import ExternalResourceButton from "@/components/ui/ExternalResourceButton.astro";
import Grid from "@/components/ui/layout/Grid.astro";
import PageContainer from "@/components/ui/layout/PageContainer.astro";
import TitleCard from "@/components/ui/TitleCard.astro";
import { developerLibraries } from "@/data/resources/monero-tools";
import Layout from "@/layouts/Layout.astro";
import { icons } from "@/utils/icons";

const { t, localizeHref } = Astro.locals;
---

<Layout
  title={t("tools:develop.pageTitle")}
  description={t("tools:develop.subtitle")}
>
  <TitleCard
    title={t("tools:develop.title")}
    subtitle={t("tools:develop.subtitle")}
    backHref={localizeHref("/resources/tools/")}
    backLabel={t("tools:index.title")}
  />

  <PageContainer>
    <Grid as="ul" columns={2} gap="sm">
      {
        developerLibraries.map((tool) => (
          <li>
            <ExternalResourceButton
              href={tool.href}
              title={tool.title}
              subtitle={t(`tools:develop.tools.${tool.id}`)}
              logo={tool.logo}
            />
          </li>
        ))
      }
    </Grid>
  </PageContainer>

  <DisclaimerBar
    icon={icons.mask("shield-alert")}
    title={t("tools:develop.disclaimer.title")}
  >
    {t("tools:develop.disclaimer.text")}
    <a
      href="https://github.com/monero-project/monero-site/issues/new"
      target="_blank"
      rel="noopener noreferrer">{t("tools:develop.disclaimer.linkText")}</a
    >.
  </DisclaimerBar>
</Layout>
