---
import CategoryCard from "@/components/ui/CategoryCard.astro";
import PageContainer from "@/components/ui/PageContainer.astro";
import TitleCard from "@/components/ui/TitleCard.astro";
import { acceptCount, developCount, exploreCount } from "@/data/monero-tools";
import Layout from "@/layouts/Layout.astro";

const { t, localizeHref, localizeNumber } = Astro.locals;

const categories = [
  {
    title: t("tools:explore.title"),
    description: t("tools:explore.subtitle"),
    href: localizeHref("/resources/tools/explore"),
    linkText: t("tools:index.itemsCount", {
      num: localizeNumber(exploreCount),
    }),
  },
  {
    title: t("tools:develop.title"),
    description: t("tools:develop.subtitle"),
    href: localizeHref("/resources/tools/develop"),
    linkText: t("tools:index.itemsCount", {
      num: localizeNumber(developCount),
    }),
  },
  {
    title: t("tools:accept.title"),
    description: t("tools:accept.subtitle"),
    href: localizeHref("/resources/tools/accept"),
    linkText: t("tools:index.itemsCount", {
      num: localizeNumber(acceptCount),
    }),
  },
];
---

<Layout
  title={t("tools:index.pageTitle")}
  description={t("tools:index.description")}
>
  <TitleCard
    title={t("tools:index.title")}
    subtitle={t("tools:index.subtitle")}
  />

  <PageContainer>
    <div class="card-grid">
      {
        categories.map((cat) => (
          <CategoryCard
            title={cat.title}
            description={cat.description}
            href={cat.href}
            linkText={cat.linkText}
          />
        ))
      }
    </div>
  </PageContainer>
</Layout>

<style>
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-xl);
  }

  @media (max-width: 900px) {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
