---
interface Props {
  class?: string;
  id?: string;
  variant?: "spaced" | "flush";
}

const { id, class: className, variant = "flush", ...rest } = Astro.props;
const classes = ["page-container", className ?? ""].filter(Boolean).join(" ");
---

<div id={id} class={classes} {...rest} data-variant={variant}>
  <slot />
</div>

<style>
  .page-container {
    padding-bottom: var(--space-2xl);

    &[data-variant="spaced"] {
      padding-top: var(--space-2xl);
    }
  }
</style>
