    <div class="footer">
      <div class="container">
        <p>
          {% t global.copyright %} &copy; <strong>{% t global.monero_project %}</strong>
          <a href=""><img src="//static.monero.cc/images/social_twitter.png"></a>
          <a href=""><img src="//static.monero.cc/images/social_rss.png"></a>
        </p>
      </div>
    </div>


    <!-- JS -->
    <script src="//static.monero.cc/js/jquery.min.js"></script>
    <script src="//static.monero.cc/js/bootstrap.min.js"></script>
