<footer class="container-fluid">
            <div class="container">
                <div class="row around-xs footer-wrapper">
                  {% for item in site.data.lang[site.lang].footer-1 %} 
                     <div class="col-sm-3 col-xs-6">
                     <h3>{{item.title}}</h3>
                         <ul class="list-unstyled">
                            {% for entry in item.subfolderitems %}
                             {% if entry.url contains 'https://' %}
                              <li><a class="white" href="{{ entry.url }}">{{ entry.name }}</a></li>
                              {%elsif entry.url contains 'irc'%}
                              <li><a class="white" href="{{ entry.url }}">{{ entry.name }}</a></li>
                              {%else%}
                                <li><a class="white" href="{{site.baseurl}}/{{ entry.url }}">{{ entry.name }}</a></li>
                              {%endif%}
                            {% endfor %}
                         </ul>
                     </div>
                 {% endfor %}
                <div class="row center-xs">
                    <div class="social-icons">
                    </div>
                    <div class="footer-links">
                        <ul class="list-unstyled list-inline">
                           {% for item in site.data.lang[site.lang].footer-2 %}
                            {% if item.url contains 'https://' %}
                             <li><a href="{{item.url}}" class="white footer-link">{{item.name}}</a></li>
                            {%else%}
                             <li><a href="{{site.baseurl}}/{{item.url}}" class="white footer-link">{{item.name}}</a></li>
                           {%endif%}
                           {% endfor %}
                        </ul>
                    </div>
                </div>
                </div>
            </div>
</footer>


    <!-- JS -->
    <script src="//static.getmonero.org/scripts.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-53312765-1', 'auto');
		ga('require', 'linkid', 'linkid.js');
		ga('send', 'pageview');
	</script>
    
    {% include hostflag.html %}
