  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
{% if page.entry %}
{{ page.entry }} | {% t global.wiki %} | {% t index.page_title %}
{% elsif tag %}
{% t global.tags %}: {{ tag.name }} | {% t index.page_title %}
{% elsif page.title %}
{{ page.title }} | {% t index.page_title %}
{% else %}
{% t index.page_title %}
{% endif %}
    </title>
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">

    <link href="//static.getmonero.org/css/bootstrap.min.css" rel="stylesheet">
    <link href="//static.getmonero.org/css/main.css" rel="stylesheet">
    
    <meta name="msapplication-config" content="/ietemplates/ieconfig.xml">

    <!--[if lt IE 9]>
      <script src="//static.getmonero.org/js/html5shiv.js"></script>
      <script src="//static.getmonero.org/js/respond.min.js"></script>
    <![endif]-->
  </head>
