{%assign counter=0%}  
<div class="mob-nav">
              <input class="burger-check" id="mobile-burger" type="checkbox"><label for="mobile-burger" class="burger"></label>
           
        <div class="slide-in-nav">
             <div class="container slide-in">
                    {% for item in site.data.lang[site.lang].navigation %} 
                 <div class="row">
                     <div class="col-xs-12 dropdown text-center nav-item">
                           {% if item.subfolderitems %}
                            {%assign counter=counter | plus: 1%}
                            <label for="drop{{counter}}">{{item.title}}<div class="arrow-down"></div></label>
                            <input class="burger-checkdropdown" id="drop{{counter}}" type="checkbox" tabindex="0">
                            <div class="dropdown-content">
                                {% for entry in item.subfolderitems %}
                              <a href="{{site.baseurl}}/{{ entry.url }}">{{ entry.page }}</a>
                                  {% endfor %}
                            </div>
                            {% else %}
                               <a href="{{site.baseurl}}/{{item.url}}">{{item.title}}</a>
                            {% endif %}
                     </div>
                 </div>
                 {% endfor %}
                 <div class="row">
                     <div class="col-xs-12">
                         <div class="text-center nav-item mob">
                            <a href="https://ccs.getmonero.org">Community Crowdfunding</a> 
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-xs-12">
                         <div class="text-center nav-item mob">
                            <a href="https://github.com/monero-project/meta/blob/master/VULNERABILITY_RESPONSE_PROCESS.md">Vulnerability Response</a>
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-xs-12">
                         <div class="text-center nav-item mob">
                            <a href="https://translate.getmonero.org">Translate</a>
                         </div>
                     </div>
                 </div>            
             </div>
          
        </div>
       </div>
       
        <div class="desktop-nav">
            <nav class="container">
            <div class="topnav">
              <div class="row middle-xs">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a href="{% if site.lang == 'en' %}
                    
                    {{ site.baseurl_root }}/
                    
                    {% else %}
                    
                    {{ site.baseurl_root }}/{{site.lang}}
                    
                    {% endif %}"><img src="/img/monero-logo.png" alt="Monero Logo" class="monero-logo"></a>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 topnav-list end-xs">
                      <div class="row end-xs middle-xs">
                         <div class="col-md-12">
                          <a href="https://ccs.getmonero.org" class="top-link">Community Crowdfunding</a>
                          <a href="https://github.com/monero-project/meta/blob/master/VULNERABILITY_RESPONSE_PROCESS.md" class="top-link">Vulnerability Response</a>
                          <a href="https://translate.getmonero.org" class="top-link">Translate</a>
                          <div href="#" class="dropdown top-link language-change">
                            <input class="burger-checkdropdown" id="langdrop" type="checkbox" tabindex="0">
                            <label for="langdrop">{{ site.data.languages.langs.[site.lang] }}
                           <div class="arrow-down"></div></label>
                            <div class="dropdown-content text-center">
                              {% for lang in site.languages %}
                                {% unless site.lang == lang %}
                                  {% if lang == site.default_lang %}
                                    <a href="{{ site.baseurl_root }}{{ page.url }}" >{{ site.data.languages.langs.[lang] }}</a>
                                  {% else %}
                                    <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{{ site.data.languages.langs.[lang] }}</a>
                                  {% endif %}
                                {% endunless %}
                              {% endfor %}
                            </div>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="botnav white-nav">
                <input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
                <div class="row between-xs nav-items">
                     {% for item in site.data.lang[site.lang].navigation %}
                    <div class="col dropdown nav-item">
                        {% if item.subfolderitems %}
                            <label for="desktopdrop1">{{item.title}}<div class="arrow-down"></div></label>
                            <input class="burger-checkdropdown" id="desktopdrop1" type="checkbox" tabindex="0">
                            <div class="dropdown-content">
                                {% for entry in item.subfolderitems %}
                                  <a href="{{site.baseurl}}/{{ entry.url }}">{{ entry.page }}</a>
                                {% endfor %}
                            </div>
                            {% else %}
                           <a href="{{site.baseurl}}/{{item.url}}">{{item.title}}</a>
                            {% endif %}
                    </div>
                    {% endfor %}
                  </div>
            </div>
        </nav>
        </div>
        <div class="mob bot-nav white-nav">
            <div class="row center-xs middle-xs">
                <div class="col-xs-6">
                    <a href="{% if site.lang == 'en' %}
                    
                    {{ site.baseurl_root }}/
                    
                    {% else %}
                    
                    {{ site.baseurl_root }}/{{site.lang}}
                    
                    {% endif %}"><img src="/img/monero-logo.png" alt="Monero Logo" class="monero-logo"></a>
                </div>
                <div class="dropdown col-xs-6 text-center mob-language-change">
                <input class="burger-checkdropdown" id="moblangdrop" type="checkbox" tabindex="0">
                 <label for="moblangdrop"><img src="/img/language.png" alt="Lang" class="icon-language"/><div class="arrow-down"></div></label>
                               <div class="mob dropdown-content text-center">
                               <p class="mob-lang-change mob-lang-selected">{{ site.data.languages.langs.[site.lang] }}</p>
                               {% for lang in site.languages %}
                                {% unless site.lang == lang %}
                                  {% if lang == site.default_lang %}
                                    <a class="mob-lang-change" href="{{ site.baseurl_root }}{{ page.url }}" >{{ site.data.languages.langs.[lang] }}</a>
                                  {% else %}
                                    <a class="mob-lang-change" href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{{ site.data.languages.langs.[lang] }}</a>
                                  {% endif %}
                                {% endunless %}
                              {% endfor %}
                            </div>
                          </div>
            </div>     
        </div>    
