a[rel~="external"]::after {
  content: "";
  display: inline-block;
  inline-size: 1rem;
  block-size: 1rem;
  margin-inline-start: 0.25em;
  line-height: 1;

  vertical-align: -0.2em;

  -webkit-mask: url("../assets/icons/mask/external-link.avif") no-repeat
    center / contain;
  mask: url("../assets/icons/mask/external-link.avif") no-repeat center /
    contain;
  background-color: currentColor;
}

[dir="rtl"] a[rel~="external"]::after {
  transform: scaleX(-1);
}

[dir="rtl"] [dir="ltr"] a[rel~="external"]::after {
  transform: unset;
}
