a[rel~="external"]::after {
  content: "\00a0";
  padding-inline-end: 0.9rem;
  mask-image: url("../assets/icons/mask/external-link.avif");
  mask-repeat: no-repeat;
  mask-position: right center;
  mask-size: 0.9rem 0.9rem;
  background-color: currentcolor;
}

[dir="rtl"] a[rel~="external"]::after {
  padding-inline: 0.9rem 0;
  transform: scaleX(-1);
}

[dir="rtl"] [dir="ltr"] a[rel~="external"]::after {
  padding-inline: 0 0.9rem;
  transform: unset;
}
