:root {
  --monero-orange: #e2611f;
  --heading-color: #191b23;
  --card-color: #f5f2fa;
  --card-hover-color: #1e1b230d;
  --paragraph-main: #44464e;
  --paragraph-subtitle: #75767f;
  --border-color: #e4e1e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-color: #ffffff;
    --card-color: #211f26;
    --card-hover-color: #e1e1ec0d;
    --paragraph-main: #c6c6d0;
    --paragraph-subtitle: #a9aab4;
    --border-color: #36343b;
  }
}
