:root {
  /** Colors **/
  --monero-orange: #e2611f;
  --heading-color: #191b23;
  --card-color: #f5f2fa;
  --card-hover-color: #1e1b230d;
  --paragraph-main: #44464e;
  --paragraph-subtitle: #75767f;
  --border-color: #e4e1e9;

  /** Spacing **/
  --default-padding: 1em 5em;
  --mobile-padding: 1em 2em;

  /** Typography **/
  --line-height-body: 1.6;
  --line-height-heading: 1.1;
  --line-height-title: 1.2;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-size-base: 1rem; /* body-base */
  --font-size-sm: 0.9rem; /* small text */
  --font-size-lg: 1.125rem; /* body-lg */
  --font-size-xl: clamp(1.2rem, 2vw, 1.5rem); /* subhead1 */
  --font-size-2xl: clamp(1.5rem, 3vw, 2rem); /* h4 */
  --font-size-3xl: clamp(1.8rem, 4vw, 2.25rem); /* h3 */
  --font-size-4xl: clamp(2.5rem, 5vw, 3.5rem); /* h2 */
  --font-size-5xl: clamp(2.5rem, 6vw, 4rem); /* h1 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-color: #ffffff;
    --card-color: #211f26;
    --card-hover-color: #e1e1ec0d;
    --paragraph-main: #c6c6d0;
    --paragraph-subtitle: #a9aab4;
    --border-color: #36343b;
  }
}

body,
div,
article {
  .__ns__pop2top {
    z-index: unset !important;
  }
}
