---
import Layout from "@/layouts/Layout.astro";

import GetStartedCard from "@/components/pages/index/GetStartedCard.astro";
import Hero from "@/components/pages/index/Hero.astro";
import IndexCard from "@/components/pages/index/IndexCard.astro";
import ResourceCard from "@/components/pages/index/ResourceCard.astro";
import Grid from "@/components/ui/layout/Grid.astro";
import Column from "@/components/ui/layout/Column.astro";
import VideoContainer from "@/components/ui/VideoContainer.astro";

import codeIcon from "@/assets/icons/mask/codeXml.avif";
import chatIcon from "@/assets/icons/mask/messageCircle.avif";
import usersIcon from "@/assets/icons/mask/users.avif";

import landingImage from "@/assets/images/landing.avif";
import { Image } from "astro:assets";

const { t, localizeHref } = Astro.locals;
---

<Layout title={t("index:pageTitle")} description={t("index:hero.lead")}>
  <Hero class="index-hero" />
  <div class="main-content">
    <IndexCard
      id="about-monero"
      title={t("index:aboutTitle")}
      description={t("index:aboutDescription")}
    >
      <Column gap="2xl">
        <div>
          <h2 style="margin-top: 0;">{t("index:main")}</h2>
          <p>
            {t("index:privacyText")}
          </p>
        </div>
        <div>
          <h2>{t("index:decentralized")}</h2>
          <p>
            {t("index:decentralizedText")}
          </p>
        </div>
        <div>
          <h2>{t("index:communityDriven")}</h2>
          <p>
            {t("index:communityText")}
          </p>
        </div>
      </Column>
      <VideoContainer>
        <video
          width="100%"
          height="100%"
          controls
          preload="none"
          poster="/media/what-is-monero.webp"
          aria-label={t("index:aria.heroVideo")}
        >
          <source src="/media/what-is-monero.webm" type="video/webm" />
          <track kind="captions" src="" srclang="en" label="No captions" />
          Your browser does not support the video tag.
        </video>
      </VideoContainer>
    </IndexCard>
    <hr />
    <IndexCard
      title={t("index:startTitle")}
      description={t("index:startDescription")}
      id="start-using-monero"
    >
      <Image src={landingImage} alt="" class="landing-image" format="avif" />
      <div>
        <GetStartedCard
          step="01"
          title={t("index:step1Title")}
          description={t("index:step1Desc")}
          ctaHref={localizeHref("/downloads/community/#wallets")}
          ctaLabel={t("index:step1Cta")}
        />
        <hr />
        <GetStartedCard
          step="02"
          title={t("index:step2Title")}
          description={t("index:step2Desc")}
          ctaHref={localizeHref("/get-started/exchanges")}
          ctaLabel={t("index:step2Cta")}
        />
        <hr />
        <GetStartedCard
          step="03"
          title={t("index:step3Title")}
          description={t("index:step3Desc")}
          ctaHref={localizeHref("/get-started/merchants")}
          ctaLabel={t("index:step3Cta")}
        />
      </div>
    </IndexCard>
    <hr />
    <IndexCard
      title={t("index:getInvolvedTitle")}
      description={t("index:getInvolvedDescription")}
      id="get-involved"
    >
      <Grid minWidth="250px" gap="2xl" class="resource-grid">
        <ResourceCard
          title={t("index:hangoutsTitle")}
          description={t("index:hangoutsDesc")}
          ctaLabel={t("index:hangoutsCta")}
          ctaHref={localizeHref("/community/hangouts")}
          icon={chatIcon}
        />
        <ResourceCard
          title={t("index:workgroupsTitle")}
          description={t("index:workgroupsDesc")}
          ctaLabel={t("index:workgroupsCta")}
          ctaHref={localizeHref("/community/workgroups")}
          icon={usersIcon}
        />
        <ResourceCard
          title={t("index:contributeTitle")}
          description={t("index:contributeDesc")}
          ctaLabel={t("index:contributeCta")}
          ctaHref={localizeHref("/get-started/contribute")}
          icon={codeIcon}
        />
      </Grid>
    </IndexCard>
  </div>
</Layout>

<style>
  :root {
    --hero-min-height: calc(75vh + 3rem);
  }

  @supports (height: 100dvh) {
    :root {
      --hero-min-height: calc(75dvh + 3rem);
    }
  }

  h2 {
    font-size: var(--font-size-3xl);
    color: var(--heading-color);
    margin-bottom: var(--space-sm);
  }

  p {
    margin: 0;
    color: var(--paragraph-subtitle);
    font-size: var(--font-size-lg);
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 1em 0;
  }

  .resource-grid {
    grid-column: span 2;
  }

  .landing-image {
    mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
  }

  .main-content {
    position: relative;
    margin-top: calc(
      var(--hero-min-height) - var(--page-top-margin)
    ) !important;
  }

  .index-hero {
    position: absolute;
    top: 3rem;
    inset-inline: 5rem;
    min-height: var(--hero-min-height);
  }

  @media (width <= 1200px) {
    #start-using-monero {
      scroll-margin-top: 4rem;
    }
  }

  @media (width <= 600px) {
    .index-hero {
      inset-inline: 2rem;
    }
  }
</style>
