---
import Column from "../layout/Column.astro";

interface Props {
  title?: string;
  subtitle?: string;
  class?: string;
}

const { title, subtitle, class: className, ...rest } = Astro.props;
const hasHeader = Boolean(title || subtitle);
---

<Column as="section" gap="md" class:list={["card", className]} {...rest}>
  {
    hasHeader && (
      <Column as="header" gap="2xs">
        {title && <h3 class="title">{title}</h3>}
        {subtitle && <p class="subtitle">{subtitle}</p>}
      </Column>
    )
  }
  <Column gap="xs">
    <slot />
  </Column>
</Column>

<style>
  .card {
    background: var(--card-color);
    border-radius: var(--radius-md);
    padding: var(--space-xl);
  }

  .title {
    margin: 0;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    color: var(--heading-color);
  }

  .subtitle {
    margin: 0;
    color: var(--paragraph-subtitle);
    line-height: var(--line-height-body);
  }

  @media (width >= 600px) {
    .title {
      font-size: var(--font-size-xl);
    }
  }
</style>
