---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";

export interface Props {
  src: ImageMetadata;
  darkSrc?: ImageMetadata;
  size?: number | string;
  class?: string;
  rtl?: boolean;
}

const { src, darkSrc, size = "1em", class: className = "", rtl } = Astro.props;

const iconSize = typeof size === "number" ? `${size}px` : size;

const lightUrl = await getImage({ src, format: "avif" }).then(
  (img) => `url(${img.src})`,
);
const darkUrl = darkSrc
  ? await getImage({ src: darkSrc, format: "avif" }).then(
      (img) => `url(${img.src})`,
    )
  : lightUrl;
---

<div class:list={["icon", className, { "icon--rtl": rtl }]} aria-hidden="true">
</div>

<style
  define:vars={{
    lightUrl,
    darkUrl,
    iconSize,
  }}
>
  .icon {
    display: inline-block;
    inline-size: var(--iconSize);
    block-size: var(--iconSize);

    aspect-ratio: 1 / 1;
    vertical-align: middle;

    --iconUrl: var(--lightUrl);
    background-image: var(--iconUrl);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .icon--rtl {
    transform: scaleX(-1);
    transform-origin: center;
  }

  @media (prefers-color-scheme: dark) {
    .icon {
      --iconUrl: var(--darkUrl);
    }
  }
</style>
