---
layout: custom
title: titles.ffs-ideas
---

<div class="container ffs-backlink">

<p><a href="/forum-funding-system/"> Back to Forum Funding System</a></p>

</div>



<section class="container ideas">
    <div class="row">
        <div class="col-xs-12">
           <div class="row">
            {% for toplevel in site.data.ffs %}
                {% if toplevel.stage == "Ideas" %}
                    {% for proposal in toplevel.proposals%}
                        <div class="half col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="info-block">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3><a href="{{proposal.url}}">{{proposal.name}}</a></h3>
                                        <p>Summary: {{proposal.summary}}</p>
                                        <p>Author: {{proposal.author}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                {%endif%}
            {%endfor%}
            </div>
        </div>
    </div>
</section>


                                        