---
layout: base
---
<div class="site-wrap">
<div class="container ffs-breadcrumbs">

<p><a href="/forum-funding-system/">Forum Funding System</a> > <a href="/forum-funding-system/open-tasks/">Open Tasks</a> > {{page.title}}</p>

</div>

    <!-- FULL WIDTH BLOCK -->
        <section class="container full">
                <div class="info-block text-adapt">
                   <div class="row center-xs">
                        <div class="col">
                            <h2>{{page.title}}</h2>
                            <p>{{page.author}}</p>
                        </div>
                    </div>
                    <div>
                        {{content}}
                    </div>
                </div>
        </section>
    <!-- END FULL WIDTH BLOCK -->
    <section class="container full">
        <div class="info-block">
           <div class="row ">
               <div class="col-xs-12">
                   <!-- JAVASCRIPT FOR DISQUS -->
                   <script data-isso="//xmrket.com/isso" src="//xmrket.com/isso/js/embed.min.js" data-isso-css="false"></script>
                   <section id="isso-thread"></section>
               </div>
           </div>
        </div>
    </section>
    </div>