---
layout: base
---
<div class="site-wrap">
<div class="container ffs-breadcrumbs">

<p><a href="/forum-funding-system/">Forum Funding System</a> > <a href="/forum-funding-system/completed-proposals/">Completed Proposals</a> > {{page.title}}</p>

</div>
    <!-- FULL WIDTH BLOCK -->
        <section class="container full">
                <div class="info-block text-adapt">
                   <div class="row center-xs">
                        <div class="col">
                            <h2>{{page.title}}</h2>
                            <p>by {{page.author}}</p>
                             <div class="ffs-status complete">
                                <p>This project has been completed. The proposal is kept here both to celebrate the achievements of the Monero community, and for historical accuracy about what was accomplished.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        {{content}}
                    </div>
                </div>
        </section>
    <!-- END FULL WIDTH BLOCK -->
    </div>
    
    <!-- JAVASCRIPT FOR DISQUS -->