---
layout: base
---
<h1 class="text-center">{% t page.title %}</h1>
    <div class="site-wrap">
    <!-- FULL WIDTH BLOCK -->
        <section class="container full">
                <div class="info-block text-adapt">
                    {% if page.deprecated_url %}
                        <div class="info-block center-xs">
                            <h3 style="padding: 0;">⚠️ This page is deprecated</h3>
                            <p>The latest version of this document is available at <a href="{{ site.docsurl }}{{ page.deprecated_url }}">Monero Docs</a>.</p>
                        </div>
                    {% endif %}
                   <h2>{% t page.entry %}</h2>
                    <div>
                        {{content}}
                    </div>
                    <p style="text-align: right;"><a href="{{site.baseurl}}/resources/moneropedia/">&laquo; {% t moneropedia.back %}</a></p>
                </div>
        </section>
    <!-- END FULL WIDTH BLOCK -->
    </div>