---
layout: base
---
<h1 class="text-center">{% t page.title %}</h1>
    <div class="site-wrap">
    <!-- FULL WIDTH BLOCK -->
        <section class="container full">
                <div class="info-block text-adapt">
                   <h2>{% t page.entry %}</h2>
                    <div>
                        {{content}}
                    </div>
                    <p style="text-align: right;"><a href="{{site.baseurl}}/resources/moneropedia/">&laquo; {% t moneropedia.back %}</a></p>
                </div>
        </section>
    <!-- END FULL WIDTH BLOCK -->
    </div>