---
layout: base
---
    <div class="site-wrap">
    <!-- FULL WIDTH BLOCK -->
        <section class="container full guides">
                <div class="info-block text-adapt">
                    <div>
                        {{content}}
                        <p style="text-align: right;">
                            <a href="{{ site.baseurl }}/resources/user-guides/">&laquo; {% t user-guides.back %}</a>
                        </p>
                    </div>
                    <a href="#" class="arrow-up" aria-label="{% t accessibility.arrowup %}" title="{% t accessibility.gotop %}"><i></i></a>
                </div>
        </section>
    <!-- END FULL WIDTH BLOCK -->
    </div>