---
import TitleCard from "@/components/ui/TitleCard.astro";
import { createTInstance, getLocale, localizeHref } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const tagSet = [
    ...new Set(allPosts.flatMap((post) => post.data.tags)),
  ].filter((tag) => tag !== undefined);

  return tagSet.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags?.includes(tag),
    );
    return {
      params: { tag: tag.toLowerCase().replace(/\s+/g, "-") },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const sanitizedTag = tag.replace(/-/g, " ");

const locale = getLocale(Astro.url);
const t = await createTInstance(locale);
---

<Layout>
  <TitleCard
    title={t("blog.tags.heroTitle", { tag: sanitizedTag })}
    subtitle={t("blog.tags.heroSubtitle", { tag: sanitizedTag })}
  />
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={localizeHref(locale, `/blog/${post.slug}/`)}>
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
