---
import PageContainer from "@/components/ui/PageContainer.astro";
import TitleCard from "@/components/ui/TitleCard.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.flatMap((post) => post.data.tags))].filter(
  (tag) => tag !== undefined,
);
const { t, localizeHref } = Astro.locals;
---

<Layout
  title={t("blog:tagIndex.hero.title")}
  description={t("blog:tagIndex.hero.subtitle")}
>
  <Fragment slot="head">
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Monero Blog RSS"
      href={new URL("feed.xml", Astro.site)}
    />
  </Fragment>
  <TitleCard
    title={t("blog:tagIndex.hero.title")}
    subtitle={t("blog:tagIndex.hero.subtitle")}
  />
  <PageContainer>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a
              href={localizeHref(
                `/blog/tags/${tag.toLowerCase().replace(/\s+/g, "-")}/`,
              )}
            >
              {t(`blog:tagLabels.${tag}`, { defaultValue: tag })}
            </a>
          </li>
        ))
      }
    </ul>
  </PageContainer>
</Layout>
