---
import TitleCard from "@/components/ui/TitleCard.astro";
import { createTInstance, getLocale, localizeHref } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.flatMap((post) => post.data.tags))].filter(
  (tag) => tag !== undefined,
);
const locale = getLocale(Astro.url);
const t = await createTInstance(locale);
---

<Layout
  title={t("blog.tagIndex.heroTitle")}
  description={t("blog.tagIndex.heroSubtitle")}
>
  <TitleCard
    title={t("blog.tagIndex.heroTitle")}
    subtitle={t("blog.tagIndex.heroSubtitle")}
  />
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a
            href={localizeHref(
              locale,
              `/blog/tags/${tag.toLowerCase().replace(/\s+/g, "-")}/`,
            )}
          >
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
