---
import Header from "../components/layout/Header.astro"
import Footer from "../components/layout/Footer.astro"
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet" />
		<link rel="sitemap" type="application/xml" href="/sitemap.xml" />
		<title>Home | Monero - secure, private, untraceable cryptocurrency.</title>
	</head>
	<body>
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<style>
	:root {
		--bg-color: #ffffff;
		--text-color: #000000;
	}
	@media (prefers-color-scheme: dark) {
		:root {
			--bg-color: #171717;
			--text-color: #ffffff;
		}
	}

	html,
	body {
		margin: 0;
		width: 100vw;
		min-height: 100vh;
		font-family: 'DM Sans', sans-serif;
		background-color: var(--bg-color);
		color: var(--text-color);
		display: flex;
		flex-direction: column;
	}

	main {
		padding: 1em 5em;
		flex: 1;
	}

	@media (max-width: 600px) {
		main {
			padding: 1em 2em;
		}
	}
</style>
