---
import Header from "../components/layout/Header.astro"
import Footer from "../components/layout/Footer.astro"
import '../styles/global.css';
import '@fontsource-variable/dm-sans';
import { getLocale } from 'astro-i18n-aut';
import { createTInstance } from '../i18n/utils';

const lang = getLocale(Astro.url) || 'en';
const t = await createTInstance(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
		<title>Home | Monero - secure, private, untraceable cryptocurrency.</title>
	</head>
	<body>
		<Header t={t}/>
		<main>
			<slot />
		</main>
		<Footer t={t}/>
	</body>
</html>

<style>
	:root {
		--bg-color: #ffffff;
		--text-color: #000000;
	}
	@media (prefers-color-scheme: dark) {
		:root {
			--bg-color: #171717;
			--text-color: #ffffff;
		}
	}

	html,
	body {
		margin: 0;
		width: 100vw;
		min-height: 100vh;
		font-family: 'DM Sans Variable', sans-serif;
		background-color: var(--bg-color);
		color: var(--text-color);
		display: flex;
		flex-direction: column;
	}

	main {
		padding: var(--default-padding);
		flex: 1;
	}

	@media (max-width: 600px) {
		main {
			padding: var(--mobile-padding);
		}
	}
</style>
