---
import MaskIcon from "@/components/ui/MaskIcon.astro";
import type { ImageMetadata } from "astro";

interface Props {
  icon?: ImageMetadata;
  title?: string;
}

const { icon, title = "Disclaimer" } = Astro.props;
---

<div class="disclaimer-bar card">
  <div class="disclaimer-content">
    {
      icon && (
        <span class="disclaimer-icon">
          <MaskIcon src={icon} size="1.5em" aria-hidden="true" />
        </span>
      )
    }
    <p>
      {title && <b>{title}:</b>}
      <slot />
    </p>
  </div>
</div>

<style>
  .disclaimer-bar {
    padding: 1rem;
    margin: 1rem 0;
    background: var(--card-color);
    border-radius: 0.5rem;
  }

  .disclaimer-content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .disclaimer-icon {
    color: var(--monero-orange);
    flex-shrink: 0;
    display: flex;
    align-self: center;
  }

  .disclaimer-content p {
    margin: 0;
    font-size: var(--font-size-md);
    color: var(--text-primary);
  }
</style>
