---
export interface Props {
  src: string;
  size?: string;
  rtl?: boolean;
  color?: string;
}

const { src, size = "1em", rtl, color = "currentColor" } = Astro.props;
---

<div class={`icon ${rtl ? "icon--rtl" : ""}`}></div>

<style
  define:vars={{ iconSize: size, iconSrc: `url(${src})`, iconColor: color }}
>
  .icon {
    display: inline-block;
    inline-size: var(--iconSize);
    block-size: var(--iconSize);

    background: var(--iconColor);
    mask: var(--iconSrc) no-repeat center / contain;
    -webkit-mask: var(--iconSrc) no-repeat center / contain;
  }

  .icon--rtl {
    transform: scaleX(-1);
    transform-origin: center;
  }
</style>
