---
export interface Props {
  src: string;
  size?: string;
  rtl?: boolean;
}

const { src, size = "1em", rtl } = Astro.props;
---

<div class={`icon ${rtl ? "icon--rtl" : ""}`}></div>

<style define:vars={{ iconSize: size, iconSrc: `url(${src})` }}>
  .icon {
    display: inline-block;
    inline-size: var(--iconSize);
    block-size: var(--iconSize);

    background: currentColor;
    mask: var(--iconSrc) no-repeat center / contain;
    -webkit-mask: var(--iconSrc) no-repeat center / contain;
  }

  .icon--rtl {
    transform: scaleX(-1);
    transform-origin: center;
  }
</style>
