---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";

export interface Props {
  src: ImageMetadata;
  size?: number | string;
  rtl?: boolean;
  color?: string;
}

const { src, size = "1em", rtl, color = "currentColor" } = Astro.props;

const iconSize = typeof size === "number" ? `${size}px` : size;
const iconSrc = await getImage({ src, format: "avif" }).then(
  (img) => `url(${img.src})`,
);
---

<div class={`icon ${rtl ? "icon--rtl" : ""}`}></div>

<style define:vars={{ iconSize, iconSrc, iconColor: color }}>
  .icon {
    display: inline-block;
    inline-size: var(--iconSize);
    block-size: var(--iconSize);

    background: var(--iconColor);
    mask: var(--iconSrc) no-repeat center / contain;
    -webkit-mask: var(--iconSrc) no-repeat center / contain;
  }

  .icon--rtl {
    transform: scaleX(-1);
    transform-origin: center;
  }
</style>
