---
export interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle = "" } = Astro.props;
---

<header>
  <h1 class="title">{title}</h1>
  {subtitle && <p class="subtitle">{subtitle}</p>}
</header>

<style>
  .title {
    margin: 0;
    color: var(--monero-orange);
    font-weight: var(--font-weight-extra-bold);
    line-height: var(--line-height-heading);
    font-size: var(--font-size-5xl);
  }
  .subtitle {
    max-width: 70ch;
    line-height: var(--line-height-body);
    font-size: var(--font-size-xl);
    color: var(--paragraph-main);
    font-weight: var(--font-weight-normal);
  }
</style>
